# IMPORTAR LIBRERIAS

In [1]:
import sqlalchemy as alch
import pandas as pd
import numpy as np

# VER CSV y LIMPIAR

In [2]:
frases_df = pd.read_csv("Frases1.csv", sep = ";")

In [3]:
def column_cleaning(df):
    df.columns = [col.strip().replace(" ", "_") for col in df.columns]
    return df

In [4]:
frases_df = column_cleaning(frases_df)

In [5]:
frases_df.head(5)

,Frase,Autor,Campo,Año_Nacimiento
0,No hay que ir para atrás ni para darse impulso,Lao Tsé,Filosofía,700 a.c
1,No hay caminos para la paz; la paz es el camino,Mahatma Gandhi,Activismo Político,1869
2,Haz el amor y no la guerra,John Lennon,Música,1940
3,Para trabajar basta estar convencido de una co...,Charles Baudelaire,Literatura,1821
4,Lo peor que hacen los malos es obligarnos a du...,Jacinto Benavente,Literatura,1866

In [6]:
frases_df = frases_df.replace("C", "Otro")

In [7]:
frases_df = frases_df.replace(np.nan, "Otro")

In [8]:
frases_df.Campo.unique()

array(['Filosofía', 'Activismo Político', 'Música ', 'Literatura',
       'Pensador', 'Ciencia ', 'Religion', 'Política', 'Cinematografía',
       'Medicina', 'Otro', 'Pintor', 'Psicología', 'Cocina'], dtype=object)

In [9]:
frases_df.Año_Nacimiento.unique()

array(['700 a.c', '1869', '1940', '1821', '1866', '1945', '551 a.c',
       '1879', '354', '1725', '1875', '427 a.c', '1313', '1865', '1926',
       '1862', '1473', '384 a.c', '1897', '1844', '1785', '1596', 'Otro',
       '1902', '1927', '63 a.c', '470 a.c', '1925', '1929', '1812',
       '4 a.c', '1890', '1918', '1452', '1881', '1942', '1770', '1854',
       '1564', '1904', '1899', '1856', '1749', '1469', '1876', '1917',
       '497 a.c', '1888', '1712', '1961', '1946', '1483', '1694'],
      dtype=object)

# MY SQL

In [10]:
connect = f"mysql+pymysql://root:admin2021@localhost/mydb"
# TIENES LA CONTRASEÑA, QUITALA CON EL .ENV

In [11]:
engine = alch.create_engine(connect)

In [12]:
def insertar_campo(df, col):
    columna = df[col].unique()
    for i in columna:
        engine.execute(f"INSERT INTO Campo(Campo) VALUES ('{i}');")

In [13]:
insertar_campo(frases_df, "Campo")

In [14]:
diccionario = {f'{x}': ind + 1 for ind,x in  enumerate(frases_df['Campo'].unique())}

In [15]:
diccionario

{'Filosofía': 1,
 'Activismo Político': 2,
 'Música ': 3,
 'Literatura': 4,
 'Pensador': 5,
 'Ciencia ': 6,
 'Religion': 7,
 'Política': 8,
 'Cinematografía': 9,
 'Medicina': 10,
 'Otro': 11,
 'Pintor': 12,
 'Psicología': 13,
 'Cocina': 14}

In [16]:
for i, fila in frases_df.iterrows():
    engine.execute(
        f"""
        INSERT INTO Autor (nombre, año_nacimiento, Campo_idCampo) VALUES
        ("{fila['Autor']}","{fila['Año_Nacimiento']}","{diccionario[fila['Campo']]}");
       """
    )

In [17]:
diccionario2 = {f'{x}': ind + 1 for ind,x in  enumerate(frases_df['Autor'].unique())}

In [18]:
diccionario2

{'Lao Tsé': 1,
 'Mahatma Gandhi': 2,
 'John Lennon': 3,
 'Charles Baudelaire': 4,
 'Jacinto Benavente': 5,
 'Bob Marley': 6,
 'Confucio': 7,
 'Albert Einstein': 8,
 'San Agustín': 9,
 'Casanova': 10,
 'Antonio Machado': 11,
 'Platón': 12,
 'Giovanni Boccaccio': 13,
 'Abraham Lincoln': 14,
 'Marilyn Monroe': 15,
 'Arthur Schnitzler': 16,
 'Copérnico': 17,
 'Aristóteles': 18,
 'Peter Bamm': 19,
 'Friedrich Nietzsche': 20,
 'Benjamin Franklin': 21,
 'René Descartes': 22,
 'Dichos populares ': 23,
 'John Steinbeck': 24,
 'Gabriel García Márquez': 25,
 'Marco Tulio Cicerón': 26,
 'Marcel Aymé': 27,
 'Sócrates': 28,
 'Malcolm X': 29,
 'Martin Luther King': 30,
 'William George Ward': 31,
 'Séneca': 32,
 'Groucho Marx': 33,
 'Nelson Mandela': 34,
 'Leonardo Da Vinci': 35,
 'Picasso': 36,
 'Stephen Hawking': 37,
 'Beethoven': 38,
 'Oscar Wilde': 39,
 'Galileo Galilei': 40,
 'Pablo Neruda': 41,
 'Borges': 42,
 'Sigmund Freud': 43,
 'Goethe': 44,
 'Maquiavelo': 45,
 'Paul Bocuse': 46,
 'Albert Schweitzer': 47,
 'Konrad Adenauer': 48,
 'John Fitzgerald Kennedy': 49,
 'Sófocles': 50,
 'Irving Berlín': 51,
 'Jean Jacques Rousseau': 52,
 'Barack Obama': 53,
 'Donald Trump': 54,
 'Martín Lutero': 55,
 'Voltaire': 56}

In [19]:
for i, fila in frases_df.iterrows():
    engine.execute(
        f"""
        INSERT INTO Frases (Frase, Autor_idAuthor) VALUES
        ("{fila['Frase']}",{diccionario2[fila['Autor']]});
       """
    )